header{
    background-color:$tertiary;
}


header .wrapper{
    display:flex;
    width:100%;
    margin:0;
    justify-content:space-between;
    align-items:center;
}
.headerImgContainer{
    flex-basis:48%;
}
.headerContent {
    flex-basis:48%;
}