// Skip Link

.skip-link{
    position:absolute;
    left:-1000px;
    top:5px;
    background-color:$white;
    color:black;
    z-index:10;

    &:focus{
        left:0;
    }
}

// Announcements

.announcements{
    text-align:center;
    padding:10px 0;
}

// Nav Bar

.navBar{
    position:sticky;
    top:0;
    border-top:1px solid rgba(8, 75, 10, 0.08);
    border-bottom:1px solid rgba(8, 75, 10, 0.08);
    background-color:$white;

    .wrapper{
        display:flex;
        justify-content:space-between;
        align-items:center;
    }
    input[type=checkbox]{
        opacity:0;
        position: absolute;

        &:checked ~ .slideOutNav{
            left:0;
        }
    }
    
}

.searchCart{
    display:flex;
    align-items:center;
    .menuIcon, .bag{
        margin-right: 15px;
    }

    .counter p {
        background-color:$primary;
        color:$white;
        width:24px;
        height:24px;
        text-align:center;
        border-radius:50%;
    }
}

// Slide Out Nav

.slideOutNav{
    background-color:$primary;
    position:fixed;
    top:0;
    left:-506px;
    height:100vh;
    width:100%;
    max-width:506px;
    padding:35px 50px;
    transition: 0.75s;

}
.mainMenu{
    a{
        font-family:$headingFont;
        font-size:1.6rem;
        line-height: 2.5rem;
        color:rgba($color: $white, $alpha: 1);
        &:hover, &:focus{
            color:rgba($color: $white, $alpha: 0.5);
        }
        transition: 0.75s;
    }
}
.menuClose{
    display:block;
    margin-left:auto;
    border:2px red solid;
    font-size:1.2rem;
}

.menuButton{
    cursor:pointer;
}